---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  大二学生 🧑‍💻| 软件工程专业💻| 不切实际的理想主义者😶‍🌫️
  <br>
  <br>
  这世上有两个我，
  <br>
  一个躯壳喂日常,
  <br>
  一个灵魂补岁月；
  <br>
  一个举杯邀明月,
  <br>
  一个跪地捡碎银。
</BaseLayout>
