---
import BaseLayout from '../layouts/BaseLayout.astro';
import friends from '../data/friends.json';
const pageTitle = "Friends";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Friends</h2>
  <ul>
    {friends.map((friend) =>(
      <li>
        <a href={friend.url} target="_blank">{friend.name}</a>
      </li>
    ))}
  </ul>
  <br>
  <h2>欢迎任何小伙伴与我联系交换友链</h2>
  <div class="my-link">
    <p>格式如下</p>
    <p>name: Abner</p>
    <p>link: https://cdt3211.top</p>
    <p>avatar: https://abnerblog-1317606226.cos.ap-nanjing.myqcloud.com/202406291900870.jpg</p>
    <p>description: 子非鱼，安知鱼之乐</p>
  </div>

</BaseLayout>
<style>
  a{
    text-decoration: none;
    color: black;
  }
  ul {
		list-style-type:square;
	}
	li {
		margin-bottom: 0.5rem;
	}
  .my-link{
    margin-top: 1rem;
    border: 1px solid #dbdada;
    padding: 10px;
    line-height: 10px;
  }
</style>