---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Friends";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Friends</h2>
  <ul>
    <li><a href="https://blog.leonus.cn/" target="_blank">Leonus</a></li>
    <li><a href="https://blog.bywind.xyz/" target="_blank">随风起</a></li>
    <li><a href="https://www.imets.cn/" target="_blank">静若安然</a></li>
    <li><a href="https://www.harrypan.cn/" target="_blank">庭院一角</a></li>
    <li><a href="https://www.liveout.cn/" target="_blank">Echo 的小窝</a></li>
    <li><a href="https://qingfengnb.cn/" target="_blank">轻风BLOG</a></li>
    <li><a href="https://www.bio-w.cn/" target="_blank">西瓜撞地球</a></li>
    <li><a href="https://shixiaocaia.fun/" target="_blank">Shixiaocaia</a></li>
  </ul>
  <br><hr>
  <h2>欢迎任何小伙伴与我联系交换友链，我的友链信息如下：</h2>
  <div class="myInfo">
    <p>name: Abner</p>
    <p>link: https://cdt3211.top/</p>
    <p>descr: 日拱一卒，功不唐捐</p>
  </div>

</BaseLayout>
<style>
  a{
    text-decoration: none;
    color: black;
  }
  ul {
		list-style-type:square;
	}
	li {
		margin-bottom: 0.5rem;
	}
  .myInfo{
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #757373;
    background-color: #f7f7f7;
    border-radius: 5px;
  }
  .myInfo p{
    
  }
</style>