---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "记录";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>记录</h2>
  <a href="/projects/">我做的一些东西...</a>
</BaseLayout>

<style>
  h2 {
    margin-bottom: 20px;
  }
  a {
    color: #1890ff;
  }
</style>
