---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Records";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>{pageTitle}</h2>
  <ul>
    <li><a href="/books/">Books</a></li>
    <li><a href="/movies/">Movies</a></li>
    <li><a href="/trips/">Trips</a></li>
  </ul>
</BaseLayout>
<style>
  a{
    color: #000000;
    text-decoration: none;
  }
  li{
    margin: 10px 0;
  }
</style>