---
import { Image } from 'astro:assets';
import email from '../img/email.svg';
import github from '../img/github.svg';
import twitter from '../img/twitter.svg';
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
    a {
      width: 1.5rem;
      height: 1.5rem;
    }
</style>
<footer>
    <a href="https://github.com/cdt3211"><Image src={github} alt="github" /></a>
    <a href="https://twitter.com/AbnerTy1"><Image src={twitter} alt="twitter" /></a>
    <a href="mailto:1228428816@qq.com"><Image src={email} alt="email" /></a>
    
</footer>