---
---
<div class="nav">
    <div class="nav-logo">
        <a href="/">Abner</a>
    </div>
    <div class="nav-links">
        <a href="/">文章</a>
        <a href="/records/">记录</a>
        <a href="/friends/">友链</a>
        <a href="/about/">关于</a>
    </div>
</div>