---
---
<div class="nav">
    <div class="nav-logo">
        <a href="/">Abner</a>
    </div>
    <div class="nav-links">
        <a href="/">Posts</a>
        <a href="/friends/">Friends</a>
        <a href="/about/">About</a>
    </div>
</div>