---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <p class="date">{frontmatter.date.toString().slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <slot />
</BaseLayout>
<style>
    .date{
        font-size: 0.8em;
        color: #666;
    }
</style>